## Settings file was created by plugin ServerDevcommands v1.15.0.0
## Plugin GUID: valheim.jerekuusela.server_devcommands

[1. General]

# Setting type: Boolean
# Default value: false
Invisible to other players with ghost mode = false

## Disables drops from creatures (if you control the zone), intended to fix high star enemies crashing the game.
# Setting type: Boolean
# Default value: false
No creature drops = false

## Automatically enables debug mode when enabling devcommands.
# Setting type: Boolean
# Default value: false
Automatic debug mode = false

## Automatically enables fly mode when enabling devcommands.
# Setting type: Boolean
# Default value: false
Automatic fly mode = false

## Automatically enables no cost mode when enabling devcommands.
# Setting type: Boolean
# Default value: false
Automatic no cost mode = false

## Automatically enables god mode when enabling devcommands.
# Setting type: Boolean
# Default value: false
Automatic god mode = false

## Automatically enables ghost mode when enabling devcommands.
# Setting type: Boolean
# Default value: false
Automatic ghost mode = false

## Sets the default value for the automatic item pick up feature.
# Setting type: Boolean
# Default value: true
Automatic item pick up = true

## Automatically enables devcommands when joining servers.
# Setting type: Boolean
# Default value: true
Automatic devcommands = true

# Setting type: Boolean
# Default value: true
No stamina usage with god mode = true

# Setting type: Boolean
# Default value: false
No weight limit with god mode = false

# Setting type: Boolean
# Default value: false
Always dodge with god mode = false

# Setting type: Boolean
# Default value: false
Always parry with god mode (when not blocking) = false

# Setting type: Boolean
# Default value: true
No staggering with god mode = true

## Removes the initial shout message when joining the server.
# Setting type: Boolean
# Default value: false
Disable start shout = false

## Prevents the raven from appearing.
# Setting type: Boolean
# Default value: false
Disable tutorials = false

# Setting type: Boolean
# Default value: false
No clip with fly mode = false

# Setting type: Boolean
# Default value: true
No knockback with god mode = true

## The map shows coordinates on hover.
# Setting type: Boolean
# Default value: true
Show map coordinates = true

## The minimap shows player coordinates.
# Setting type: Boolean
# Default value: false
Show minimap coordinates = false

## The map shows private players.
# Setting type: Boolean
# Default value: false
Show private players = false

## Disables random events (server side setting).
# Setting type: Boolean
# Default value: false
Disable random events = false

## Removes debug mode key bindings for killall, removedrops, fly and no cost.
# Setting type: Boolean
# Default value: false
Disable debug mode keys = false

## Global keys separated by , that won't be set (server side setting).
# Setting type: String
# Default value: 
Disabled global keys = 

[2. Console]

## Prevents messages from commands.
# Setting type: Boolean
# Default value: false
Disable messages = false

## Command names separated by , that should be executed server side.
# Setting type: String
# Default value: randomevent,stopevent,genloc,sleep,skiptime
Server side commands = randomevent,stopevent,genloc,sleep,skiptime

## Allows binding to the custom wheel keycode.
# Setting type: Boolean
# Default value: true
Mouse wheel binding = true

## Executes the given command when starting the game.
# Setting type: String
# Default value: 
Auto exec boot = 

## Executes the given command when enabling devcommands.
# Setting type: String
# Default value: 
Auto exec dev on = 

## Executes the given command when disabling devcommands.
# Setting type: String
# Default value: 
Auto exec dev off = 

## Executes the given command when joining a server (before admin is checked).
# Setting type: String
# Default value: 
Auto exec = 

## Shows command descriptions as autocomplete.
# Setting type: Boolean
# Default value: true
Command descriptions = true

## Enables the command aliasing system (allows creating new commands).
# Setting type: Boolean
# Default value: true
Alias system = true

## Enables parameter info or options for every parameter.
# Setting type: Boolean
# Default value: true
Improved autocomplete = true

## Internal data for aliases.
# Setting type: String
# Default value: 
Command aliases = 

## Enables multiple commands when separated with ;.
# Setting type: Boolean
# Default value: true
Multiple commands per line = true

## Enables the command parameter substitution system ($ gets replaced with the next free parameter).
# Setting type: Boolean
# Default value: true
Substitution system = true

## Extra debug information about aliasing.
# Setting type: Boolean
# Default value: false
Debug console = false

## Removes warning texts from some command parameter descriptions.
# Setting type: Boolean
# Default value: false
Disable parameter warnings = false

## Steam IDs separated by , that can execute blacklisted commands. Server side setting.
# Setting type: String
# Default value: 
Root users = 

## Command names separated by , that can't be executed.
# Setting type: String
# Default value: dev_config disable_command
Disabled commands = dev_config disable_command

## Key codes separated by ,
# Setting type: String
# Default value: Space
Key for fly up = Space

## Key codes separated by ,
# Setting type: String
# Default value: LeftControl
Key for fly down = LeftControl

